.form_text {
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 5px;
}

.numberSelect{
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 0;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.inputSize {
  width: 470px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  padding: 0 20px;
  box-sizing: border-box;
  outline: transparent;
}

.inputSizePhone{
  width: 100%;
  height: 100%;
  border-color: transparent;
}

.country_code_selection{
  position: absolute;
  z-index: 10;
  min-width: 410px;
  max-height: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.1);
  box-shadow: 0 0 1px rgba(0,0,0,.1);
  overflow-y: scroll;
  font-size: 15px;
  line-height: 1.33;
}

.country_code_selection_item{
  display: flex;
  align-items: center;
  padding: 7px 10px;
}

.country_code_selection_item:hover{
  cursor: pointer;
  background-color: #c7c7c7;
}

.country_name{
  margin-right: auto;
  text-align: left;
}

.country_code{

}

.country_flag{
  margin: 0 10px;
  width: 18px;
  height: 13px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.country_select{
  display: flex;
  align-items: center;
}

.phoneMaskFlag{
  width: 18px;
  height: 13px;
  background-position: -257px -281px;
  background-image: url(https://static.tildacdn.com/lib/flags/flags.png?ver=2);
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.phoneMaskIcon{
  position: relative;
  margin-left: 6px;
  border-style: solid;
  border-width: 5px 4px 0;
  border-color: #9a9a9a transparent transparent;
}

.phoneMaskNumber{
  margin-left: 10px;

}


@media (min-width: 1200px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) {
}

@media (max-width: 576px) {
  .inputSize {
    width: 100%;
    min-height: 100%;
  }

  .form_text {
    font-size: 16px;
  }

  .inputSizePhone{
    font-size: 14px;
  }

  .country_select{
    font-size: 14px;
  }

  .country_code_selection{
    min-width: 302px;
    max-height: 120px;
    font-size: 10px;
  }
}
