.country_code_selection{
  position: absolute;
  z-index: 10;
  min-width: 410px;
  max-height: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.1);
  box-shadow: 0 0 1px rgba(0,0,0,.1);
  overflow-y: scroll;
  font-size: 15px;
  line-height: 1.33;
}

.country_code_selection_item{
  display: flex;
  align-items: center;
  padding: 7px 10px;
}

.country_code_selection_item:hover{
  cursor: pointer;
  background-color: #c7c7c7;
}

.country_name{
  margin-right: auto;
  text-align: left;
}

.country_code{

}

.country_flag{
  margin: 0 10px;
  width: 18px;
  height: 13px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}


@media (min-width: 1200px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) {
}

@media (max-width: 576px) {
  .country_code_selection{
    min-width: 302px;
    max-height: 120px;
    font-size: 10px;
  }
}
