.transitionCreateBotImg {
  width: 540px;
  height: 317px;
  background-size: cover;
  background-position: center;
}

.transitionCreateBotTitleBlock {
  display: flex;
  justify-content: flex-end;
}

.transitionCreateBotTitle {
  color: #323145;
  font-size: 40px;
  line-height: 0.95;
  font-weight: 700;
  text-align: center;
  width: max-content;
  padding-right: 60px;
}


@media (max-width: 992px) {
  .transitionCreateBotImg {
    width: 310px;
    height: 182px;
  }
}
