.universal_down_horizon {
  display: flex;
  justify-content: space-around;
  background-color: #c7c7c7;
  color: black;
  overflow-x: scroll;
  position: fixed;
  width: 100%;
  transition: 300ms linear;
  transition-property: bottom;
  bottom: -22px;
}

.universal_down_horizon:hover {
  bottom: 0;
}

.universal_down_horizon::-webkit-scrollbar {
  display: none;
}

.universal_down_horizon:hover .footerAppItem {
  padding: 7px 15px;
  /*transition: 200ms linear;*/
}

.systemButtons {
  display: inline-flex;
  width: 100%;
}

.systemButtons::after {
  content: '';
  align-self: center;
  height: 80%;
  width: 1px;
  background-color: #a5a5a5;
}

.userButtons {
  display: inline-flex;
  width: 100%;
}

.footerAppItem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5px 15px;
}

.counter_pos {
  position: relative;
}

.counter {
  position: absolute;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  padding: 2px;
  font-size: 12px;
  font-weight: 600;
}

.systemButtons .counter {
  left: 13px;
  top: -2px;
}

.userButtons .counter {
  left: 13px;
  top: -2px;
}

.footerIcon {
  width: 60px;
  height: 45px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.footerIconName {
  padding-top: 5px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .footerIconName {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .universal_down_horizon {
    justify-content: flex-start;
  }

  .footerIconName {
    font-size: 9px;
  }
}

@media (max-width: 817px) {
  .footerIconName {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .universal_down_horizon {
    bottom: -14.5px;
  }

  .universal_down_horizon:hover .systemButtons .counter {
    left: 13px;
    top: -4px;
    width: 20px;
    height: 20px;
    font-size: 8px;
  }

  .universal_down_horizon:hover .userButtons .counter {
    left: 13px;
    top: -4px;
    width: 20px;
    height: 20px;
    font-size: 8px;
  }

  .universal_down_horizon:hover .footerIcon {
    width: 60px;
    height: 45px;
    transition: 200ms linear;
    transition-property: bottom;
  }

  .footerAppItem {
    padding: 3px 10px;
  }

  .systemButtons .counter {
    left: 7px;
    top: -2px;
  }

  .userButtons .counter {
    left: 7px;
    top: -3px;
  }

  .counter {
    width: 13px;
    height: 13px;
    font-size: 5px;
  }

  .footerIcon {
    width: 30px;
    height: 22.5px;
  }

  .footerIconName {
    font-size: 10px;
  }
}
