.universal_down_horizon {
  display: flex;
  justify-content: space-around;
  background-color: #c7c7c7;
  color: black;
  overflow-x: scroll;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: 200ms linear;
}

.systemButtons{
  display: inline-flex;
  width: 100%;
}

.systemButtons::after{
  content: '';
  align-self: center;
  height: 80%;
  width: 1px;
  background-color: #a5a5a5;
}

.userButtons{
  display: inline-flex;
  width: 100%;
}

.universal_down_horizon::-webkit-scrollbar {
  display: none;
}

.universal_down_horizon:hover .footerAppItem {
  padding: 7px 15px;
  transition: 200ms linear;
}

.universal_down_horizon:hover .footerIcon {
  width: 60px;
  height: 45px;
}

.universal_down_horizon:hover .footerIconName {
  display: block;
  transition: 1s linear;
  animation-name: nameHeight;
  animation-duration: 200ms;
}

.footerAppItem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5px 15px;
}

.counter_pos{
  position: relative;
}

.counter {
  position: absolute;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  padding: 2px;
  font-size: 12px;
  font-weight: 600;
}

.systemButtons .counter{
  left: 13px;
  top: -2px;
}

.userButtons .counter{
  left: 13px;
  top: -2px;
}

.footerIcon {
  width: 60px;
  height: 45px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.footerIconName {
  display: none;
  padding-top: 5px;
  cursor: pointer;
  font-weight: 500;
}

@keyframes nameHeight {
  0% {
    opacity: 0;
    font-size: 1%;
  }
  5% {
    font-size: 5%;
  }
  10% {
    opacity: 0.1;
    font-size: 10%;
  }
  15% {
    font-size: 15%;
  }
  20% {
    opacity: 0.2;
    font-size: 20%;
  }
  25% {
    font-size: 25%;
  }
  30% {
    font-size: 30%;
    opacity: 0.3;
  }
  35% {
    font-size: 35%;
  }
  40% {
    font-size: 40%;
    opacity: 0.4;
  }
  45% {
    font-size: 45%;
  }
  50% {
    font-size: 50%;
    opacity: 0.5;
  }
  55% {
    font-size: 55%;
  }
  60% {
    font-size: 60%;
    opacity: 0.6;
  }
  65% {
    font-size: 65%;
  }
  70% {
    font-size: 70%;
    opacity: 0.7;
  }
  75% {
    font-size: 75%;
  }
  80% {
    font-size: 80%;
    opacity: 0.8;
  }
  85% {
    font-size: 85%;
  }
  90% {
    font-size: 90%;
    opacity: 0.9;
  }
  95% {
    font-size: 95%;
  }
  100% {
    font-size: 100%;
    opacity: 1;
  }
}


@media (max-width: 1200px) {
  .footerIconName {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .universal_down_horizon {
    justify-content: flex-start;
  }

  .footerIconName {
    font-size: 9px;
  }
}

@media (max-width: 817px) {
  .footerIconName {
    font-size: 8px;
  }
}

@media (max-width: 576px) {
  .universal_down_horizon:hover .footerIconName {
    animation-duration: 0s;
  }

  .universal_down_horizon:hover .systemButtons .counter {
    left: 13px;
    top: -4px;
    width: 20px;
    height: 20px;
    font-size: 8px;
  }

  .universal_down_horizon:hover .userButtons .counter {
    left: 13px;
    top: -4px;
    width: 20px;
    height: 20px;
    font-size: 8px;
  }

  .footerAppItem {
    padding: 5px 13.5px;
  }

  .systemButtons .counter{
    left: 7px;
    top: -2px;
  }

  .userButtons .counter{
    left: 7px;
    top: -3px;
  }

  .counter {
    width: 13px;
    height: 13px;
    font-size: 5px;
  }

  .footerIcon {
    width: 30px;
    height: 22.5px;
  }

  .footerIconName {
    font-size: 8px;
  }
}
