.BenefitsBots{
  padding: 100px;
}

.BenefitsBotsTitleBlock{
  max-width: 350px;
  margin: auto;
}

.BenefitsBotsTitle {
  color: #323145;
  font-size: 40px;
  line-height: 0.95;
  font-weight: 700;
  margin-bottom: 80px;
  text-align: center;
}

.BenefitsBotsBlock{
  display: flex;
}

.BenefitsBotsBlock_imgBlock {
  display: flex;
  justify-content: center;
  color: #323145;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.BenefitsBotsBlock_outer_img {
  width: 140px;
  height: 128px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.BenefitsBotsBlock_inner_img {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.BenefitsBotsBlock_content_title{
  color: #323145;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  border-color: transparent;
  border-style: solid;
}

.BenefitsBotsBlock_content_text{
  color: #323145;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}
