.form_bckgrnd {
  position: fixed;
  top: 0;
  z-index: 9999;
  opacity: 1;
  background-color: #ffdd33;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formBlock {
  background-color: #fff;
  width: 560px;
  min-height: 642px;
}

.form {
  padding: 40px 45px;
}

.form_text {
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 5px;
}

.inputSize {
  width: 470px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  padding: 0 20px
}

.form_btn {
  width: 470px;
  height: 54px;
  color: #ffffff !important;
  background-color: #000000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-weight: 600;
  font-size: 19px;

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .formBlock {
    width: 100%;
    min-height: auto;
  }

  .form_text {
    font-size: 16px;
  }

  .inputSize {
    width: 100%;
    min-height: 100%;
  }

  .form_btn {
    width: 100%;
    font-size: 16px;
  }
}
