.header_menu {
  display: flex;
  justify-content: space-around;
}

.HeaderStart{
  animation-delay: 200ms;

}

.HeaderCenter{
  animation-delay: 400ms;
}

.HeaderEnd{
  animation-delay: 800ms;
}

@media (max-width: 479px) {
  .header_menu {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
}
